<h2>Create a new celebrity</h2>
<form action="/celebrities/create" method="post">
    <input type="text" id="name" name="name">
    <input type="text" id="occupation" name="occupation">
    <input type="text" id="catchPhrase" name="catchPhrase">
    <button type="submit">Submit</button>
</form>